In [1]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine
import mysql.connector
from datetime import datetime, timedelta

In [17]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'abcd1234',
    'database': 'iitr',
}
connection = mysql.connector.connect(**db_config)
cursor = connection.cursor()
engine = create_engine(f"mysql+mysqlconnector://{db_config['user']}:{db_config['password']}@{db_config['host']}/{db_config['database']}")
connection = mysql.connector.connect(**db_config)
cursor = connection.cursor()
query = "SELECT * FROM stockdata"

# Execute the query and load data into a pandas DataFrame
data = pd.read_sql(query, connection)

query2 = "SELECT * FROM stockdata2024"
data2=pd.read_sql(query2,connection)
# Close the database connection
connection.close()

import numpy as np
data = data.replace('-', np.nan)
data2=data2.replace('-',np.nan)

/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_98235/3121234229.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, connection)
/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_98235/3121234229.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data2=pd.read_sql(query2,connection)

In [18]:
data['DATE1'] = pd.to_datetime(data['DATE1'])

# Extract distinct dates from the 'date' column
distinct_dates = data['DATE1'].drop_duplicates()

# Format the dates as "DDMMYYYY"
dates2 = distinct_dates.dt.strftime('%Y-%m-%d').tolist()

# Display the list of formatted dates
print(dates2)
print(len(dates2))

['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-16', '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20', '2023-01-23', '2023-01-24', '2023-01-25', '2023-01-27', '2023-01-30', '2023-01-31', '2023-02-01', '2023-02-02', '2023-02-03', '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09', '2023-02-10', '2023-02-13', '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17', '2023-02-20', '2023-02-21', '2023-02-22', '2023-02-23', '2023-02-24', '2023-02-27', '2023-02-28', '2023-03-01', '2023-03-02', '2023-03-03', '2023-03-06', '2023-03-08', '2023-03-09', '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21', '2023-03-22', '2023-03-23', '2023-03-24', '2023-03-27', '2023-03-28', '2023-03-29', '2023-03-31', '2023-04-03', '2023-04-05', '2023-04-06', '2023-04-10', '2023-04-11', '2023-04-12', '2023-04-13', '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-24', '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28', '2023-05-02', '2023-05-03', '2023-05-04', '2023-05-05', '2023-05-08', '2023-05-09', '2023-05-10', '2023-05-11', '2023-05-12', '2023-05-15', '2023-05-16', '2023-05-17', '2023-05-18', '2023-05-19', '2023-05-22', '2023-05-23', '2023-05-24', '2023-05-25', '2023-05-26', '2023-05-29', '2023-05-30', '2023-05-31', '2023-06-01', '2023-06-02', '2023-06-05', '2023-06-06', '2023-06-07', '2023-06-08', '2023-06-09', '2023-06-12', '2023-06-13', '2023-06-14', '2023-06-15', '2023-06-16', '2023-06-19', '2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23', '2023-06-26', '2023-06-27', '2023-06-28', '2023-06-30', '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-10', '2023-07-11', '2023-07-12', '2023-07-13', '2023-07-14', '2023-07-17', '2023-07-18', '2023-07-19', '2023-07-20', '2023-07-21', '2023-07-24', '2023-07-25', '2023-07-26', '2023-07-27', '2023-08-25', '2023-08-28', '2023-08-29', '2023-08-30', '2023-08-31', '2023-09-01', '2023-09-04', '2023-09-05', '2023-09-06', '2023-09-07', '2023-09-08', '2023-09-11', '2023-09-12', '2023-09-13', '2023-09-14', '2023-09-15', '2023-09-18', '2023-09-20', '2023-09-21', '2023-09-22', '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28', '2023-09-29', '2023-10-03', '2023-10-04', '2023-10-05', '2023-10-06', '2023-10-09', '2023-10-10', '2023-10-11', '2023-10-12', '2023-10-13', '2023-10-16', '2023-10-17', '2023-10-18', '2023-10-19', '2023-10-20', '2023-10-23', '2023-10-25', '2023-10-26', '2023-10-27', '2023-10-30', '2023-10-31', '2023-11-01', '2023-11-02', '2023-11-03', '2023-11-06', '2023-11-07', '2023-11-08', '2023-11-09', '2023-11-10', '2023-11-13', '2023-11-15', '2023-11-16', '2023-11-17', '2023-11-20', '2023-11-21', '2023-11-22', '2023-11-23', '2023-11-24', '2023-11-28', '2023-11-29', '2023-11-30', '2023-12-01', '2023-12-04', '2023-12-05', '2023-12-06', '2023-12-07', '2023-12-08', '2023-12-11', '2023-12-12', '2023-12-13', '2023-12-14', '2023-12-15', '2023-12-18', '2023-12-19', '2023-12-20', '2023-12-21', '2023-12-22', '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29', '2023-07-28', '2023-07-31', '2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-07', '2023-08-08', '2023-08-09', '2023-08-10', '2023-08-11', '2023-08-14', '2023-08-16', '2023-08-17', '2023-08-18', '2023-08-21', '2023-08-22', '2023-08-23', '2023-08-24']
245

In [19]:
data2['DATE1'] = pd.to_datetime(data2['DATE1'])

# Extract distinct dates from the 'date' column
distinct_dates2 = data2['DATE1'].drop_duplicates()

# Format the dates as "DDMMYYYY"
dates3 = distinct_dates2.dt.strftime('%Y-%m-%d').tolist()

# Display the list of formatted dates
print(dates3)
print(len(dates3))

['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05', '2024-01-08', '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12', '2024-01-15', '2024-01-16', '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20', '2024-01-23', '2024-01-24', '2024-01-25', '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01', '2024-02-02', '2024-02-05', '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09', '2024-02-12', '2024-02-13', '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-19', '2024-02-20', '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29', '2024-03-01', '2024-03-04', '2024-03-05', '2024-03-06', '2024-03-07', '2024-03-11', '2024-03-12', '2024-03-13', '2024-03-14', '2024-03-15', '2024-03-18', '2024-03-19', '2024-03-20', '2024-03-21', '2024-03-22', '2024-03-26', '2024-03-27', '2024-03-28', '2024-04-01', '2024-04-02', '2024-04-03', '2024-04-04', '2024-04-05', '2024-04-08', '2024-04-09', '2024-04-10', '2024-04-12', '2024-04-15', '2024-04-16', '2024-04-18', '2024-04-19', '2024-04-22', '2024-04-23', '2024-04-24', '2024-04-25', '2024-04-26', '2024-04-29', '2024-04-30', '2024-05-02', '2024-05-03', '2024-05-06', '2024-05-07', '2024-05-08', '2024-05-09', '2024-05-10', '2024-05-13', '2024-05-14', '2024-05-15', '2024-05-16', '2024-05-17', '2024-05-18', '2024-05-21', '2024-05-22', '2024-05-23', '2024-05-24', '2024-05-27', '2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31', '2024-06-03', '2024-06-04', '2024-06-05', '2024-06-06', '2024-06-07', '2024-06-10', '2024-06-11', '2024-06-12', '2024-06-13', '2024-06-14', '2024-06-18', '2024-06-19', '2024-06-20', '2024-06-21', '2024-06-24', '2024-06-25', '2024-06-26', '2024-06-27', '2024-06-28', '2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04', '2024-07-05', '2024-07-08', '2024-07-09', '2024-07-10', '2024-07-11', '2024-07-12', '2024-07-15', '2024-07-16', '2024-07-18', '2024-07-19', '2024-07-22', '2024-07-23', '2024-07-24', '2024-07-25', '2024-07-26', '2024-07-29', '2024-07-30', '2024-07-31', '2024-08-01', '2024-08-02', '2024-08-05', '2024-08-06', '2024-08-07', '2024-08-08', '2024-08-09', '2024-08-12', '2024-08-13', '2024-08-14', '2024-08-16', '2024-08-19', '2024-08-20', '2024-08-21', '2024-08-22', '2024-08-23', '2024-08-26', '2024-08-27']
162

In [20]:
lst=dates2+dates3
dates2=lst
print(len(dates2))
print(dates2)

407
['2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12', '2023-01-13', '2023-01-16', '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20', '2023-01-23', '2023-01-24', '2023-01-25', '2023-01-27', '2023-01-30', '2023-01-31', '2023-02-01', '2023-02-02', '2023-02-03', '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09', '2023-02-10', '2023-02-13', '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17', '2023-02-20', '2023-02-21', '2023-02-22', '2023-02-23', '2023-02-24', '2023-02-27', '2023-02-28', '2023-03-01', '2023-03-02', '2023-03-03', '2023-03-06', '2023-03-08', '2023-03-09', '2023-03-10', '2023-03-13', '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17', '2023-03-20', '2023-03-21', '2023-03-22', '2023-03-23', '2023-03-24', '2023-03-27', '2023-03-28', '2023-03-29', '2023-03-31', '2023-04-03', '2023-04-05', '2023-04-06', '2023-04-10', '2023-04-11', '2023-04-12', '2023-04-13', '2023-04-17', '2023-04-18', '2023-04-19', '2023-04-20', '2023-04-21', '2023-04-24', '2023-04-25', '2023-04-26', '2023-04-27', '2023-04-28', '2023-05-02', '2023-05-03', '2023-05-04', '2023-05-05', '2023-05-08', '2023-05-09', '2023-05-10', '2023-05-11', '2023-05-12', '2023-05-15', '2023-05-16', '2023-05-17', '2023-05-18', '2023-05-19', '2023-05-22', '2023-05-23', '2023-05-24', '2023-05-25', '2023-05-26', '2023-05-29', '2023-05-30', '2023-05-31', '2023-06-01', '2023-06-02', '2023-06-05', '2023-06-06', '2023-06-07', '2023-06-08', '2023-06-09', '2023-06-12', '2023-06-13', '2023-06-14', '2023-06-15', '2023-06-16', '2023-06-19', '2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23', '2023-06-26', '2023-06-27', '2023-06-28', '2023-06-30', '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-10', '2023-07-11', '2023-07-12', '2023-07-13', '2023-07-14', '2023-07-17', '2023-07-18', '2023-07-19', '2023-07-20', '2023-07-21', '2023-07-24', '2023-07-25', '2023-07-26', '2023-07-27', '2023-08-25', '2023-08-28', '2023-08-29', '2023-08-30', '2023-08-31', '2023-09-01', '2023-09-04', '2023-09-05', '2023-09-06', '2023-09-07', '2023-09-08', '2023-09-11', '2023-09-12', '2023-09-13', '2023-09-14', '2023-09-15', '2023-09-18', '2023-09-20', '2023-09-21', '2023-09-22', '2023-09-25', '2023-09-26', '2023-09-27', '2023-09-28', '2023-09-29', '2023-10-03', '2023-10-04', '2023-10-05', '2023-10-06', '2023-10-09', '2023-10-10', '2023-10-11', '2023-10-12', '2023-10-13', '2023-10-16', '2023-10-17', '2023-10-18', '2023-10-19', '2023-10-20', '2023-10-23', '2023-10-25', '2023-10-26', '2023-10-27', '2023-10-30', '2023-10-31', '2023-11-01', '2023-11-02', '2023-11-03', '2023-11-06', '2023-11-07', '2023-11-08', '2023-11-09', '2023-11-10', '2023-11-13', '2023-11-15', '2023-11-16', '2023-11-17', '2023-11-20', '2023-11-21', '2023-11-22', '2023-11-23', '2023-11-24', '2023-11-28', '2023-11-29', '2023-11-30', '2023-12-01', '2023-12-04', '2023-12-05', '2023-12-06', '2023-12-07', '2023-12-08', '2023-12-11', '2023-12-12', '2023-12-13', '2023-12-14', '2023-12-15', '2023-12-18', '2023-12-19', '2023-12-20', '2023-12-21', '2023-12-22', '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29', '2023-07-28', '2023-07-31', '2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04', '2023-08-07', '2023-08-08', '2023-08-09', '2023-08-10', '2023-08-11', '2023-08-14', '2023-08-16', '2023-08-17', '2023-08-18', '2023-08-21', '2023-08-22', '2023-08-23', '2023-08-24', '2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05', '2024-01-08', '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12', '2024-01-15', '2024-01-16', '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20', '2024-01-23', '2024-01-24', '2024-01-25', '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01', '2024-02-02', '2024-02-05', '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09', '2024-02-12', '2024-02-13', '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-19', '2024-02-20', '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29', '2024-03-01', '2024-03-04', '2024-03-05', '2024-03-06', '2024-03-07', '2024-03-11', '2024-03-12', '2024-03-13', '2024-03-14', '2024-03-15', '2024-03-18', '2024-03-19', '2024-03-20', '2024-03-21', '2024-03-22', '2024-03-26', '2024-03-27', '2024-03-28', '2024-04-01', '2024-04-02', '2024-04-03', '2024-04-04', '2024-04-05', '2024-04-08', '2024-04-09', '2024-04-10', '2024-04-12', '2024-04-15', '2024-04-16', '2024-04-18', '2024-04-19', '2024-04-22', '2024-04-23', '2024-04-24', '2024-04-25', '2024-04-26', '2024-04-29', '2024-04-30', '2024-05-02', '2024-05-03', '2024-05-06', '2024-05-07', '2024-05-08', '2024-05-09', '2024-05-10', '2024-05-13', '2024-05-14', '2024-05-15', '2024-05-16', '2024-05-17', '2024-05-18', '2024-05-21', '2024-05-22', '2024-05-23', '2024-05-24', '2024-05-27', '2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31', '2024-06-03', '2024-06-04', '2024-06-05', '2024-06-06', '2024-06-07', '2024-06-10', '2024-06-11', '2024-06-12', '2024-06-13', '2024-06-14', '2024-06-18', '2024-06-19', '2024-06-20', '2024-06-21', '2024-06-24', '2024-06-25', '2024-06-26', '2024-06-27', '2024-06-28', '2024-07-01', '2024-07-02', '2024-07-03', '2024-07-04', '2024-07-05', '2024-07-08', '2024-07-09', '2024-07-10', '2024-07-11', '2024-07-12', '2024-07-15', '2024-07-16', '2024-07-18', '2024-07-19', '2024-07-22', '2024-07-23', '2024-07-24', '2024-07-25', '2024-07-26', '2024-07-29', '2024-07-30', '2024-07-31', '2024-08-01', '2024-08-02', '2024-08-05', '2024-08-06', '2024-08-07', '2024-08-08', '2024-08-09', '2024-08-12', '2024-08-13', '2024-08-14', '2024-08-16', '2024-08-19', '2024-08-20', '2024-08-21', '2024-08-22', '2024-08-23', '2024-08-26', '2024-08-27']

In [21]:
df=pd.read_csv('check_reverse_filtered_stocks_7cond2023.csv')

In [22]:
df2=pd.read_csv('sell_stocks_7cond2024.csv')

In [23]:
# df_sorted = df.sort_values(by='SYMBOL')

# df=df_sorted
# df.head()
df['DATE1'] = pd.to_datetime(df['DATE1'])

# Extract distinct dates from the 'date' column
dist = df['DATE1']

# Format the dates as "DDMMYYYY"
dates = dist.dt.strftime('%Y-%m-%d').tolist()

# Display the list of formatted dates
print(dates)
print(len(dates))

['2023-01-04', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-06', '2023-01-06', '2023-01-09', '2023-01-09', '2023-01-11', '2023-01-13', '2023-01-16', '2023-01-17', '2023-01-18', '2023-01-18', '2023-01-18', '2023-01-19', '2023-01-20', '2023-01-20', '2023-01-20', '2023-01-20', '2023-01-24', '2023-01-25', '2023-01-25', '2023-01-25', '2023-01-27', '2023-01-27', '2023-01-27', '2023-01-27', '2023-01-27', '2023-01-27', '2023-01-27', '2023-01-27', '2023-01-30', '2023-01-30', '2023-02-02', '2023-02-06', '2023-02-14', '2023-02-15', '2023-02-15', '2023-02-15', '2023-02-16', '2023-02-16', '2023-02-17', '2023-02-17', '2023-02-20', '2023-02-20', '2023-02-22', '2023-02-22', '2023-02-22', '2023-02-22', '2023-02-22', '2023-02-22', '2023-02-23', '2023-02-23', '2023-02-23', '2023-02-23', '2023-02-23', '2023-02-23', '2023-02-24', '2023-02-24', '2023-02-27', '2023-02-27', '2023-02-27', '2023-02-28', '2023-02-28', '2023-02-28', '2023-02-28', '2023-03-02', '2023-03-06', '2023-03-10', '2023-03-13', '2023-03-13', '2023-03-13', '2023-03-14', '2023-03-14', '2023-03-14', '2023-03-14', '2023-03-14', '2023-03-14', '2023-03-15', '2023-03-15', '2023-03-15', '2023-03-15', '2023-03-20', '2023-03-21', '2023-03-21', '2023-03-23', '2023-03-23', '2023-03-23', '2023-03-24', '2023-03-24', '2023-03-24', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-04-17', '2023-04-20', '2023-05-04', '2023-05-10', '2023-05-11', '2023-05-15', '2023-05-18', '2023-05-19', '2023-05-22', '2023-05-24', '2023-05-24', '2023-05-25', '2023-05-29', '2023-05-30', '2023-05-31', '2023-06-09', '2023-06-09', '2023-06-16', '2023-06-19', '2023-06-21', '2023-06-23', '2023-06-23', '2023-06-26', '2023-06-27', '2023-06-27', '2023-06-30', '2023-06-30', '2023-07-03', '2023-07-10', '2023-07-10', '2023-07-11', '2023-07-11', '2023-07-11', '2023-07-11', '2023-07-13', '2023-07-13', '2023-07-17', '2023-07-18', '2023-07-21', '2023-07-21', '2023-07-24', '2023-07-25', '2023-08-25', '2023-08-29', '2023-08-31', '2023-09-05', '2023-09-06', '2023-09-06', '2023-09-12', '2023-09-20', '2023-09-21', '2023-09-21', '2023-09-21', '2023-09-25', '2023-09-25', '2023-09-25', '2023-09-28', '2023-09-29', '2023-10-03', '2023-10-03', '2023-10-04', '2023-10-05', '2023-10-09', '2023-10-09', '2023-10-10', '2023-10-11', '2023-10-11', '2023-10-13', '2023-10-16', '2023-10-18', '2023-10-20', '2023-10-23', '2023-10-23', '2023-10-25', '2023-10-25', '2023-10-25', '2023-10-25', '2023-10-25', '2023-10-26', '2023-10-26', '2023-11-01', '2023-11-01', '2023-11-02', '2023-11-07', '2023-11-10', '2023-11-16', '2023-11-16', '2023-11-20', '2023-11-20', '2023-11-22', '2023-11-24', '2023-11-28', '2023-11-29', '2023-12-01', '2023-12-05', '2023-12-06', '2023-12-06', '2023-12-07', '2023-12-07', '2023-12-07', '2023-12-08', '2023-12-11', '2023-12-11', '2023-12-11', '2023-12-11', '2023-12-13', '2023-12-14', '2023-12-15', '2023-12-15', '2023-12-18', '2023-12-18', '2023-12-19', '2023-12-28', '2023-12-29', '2023-12-29', '2023-08-01', '2023-08-02', '2023-08-09', '2023-08-11', '2023-08-14', '2023-08-14', '2023-08-16', '2023-08-18', '2023-08-23']
256

In [24]:
df2['DATE1'] = pd.to_datetime(df2['DATE1'])

# Extract distinct dates from the 'date' column
dist2 = df2['DATE1']

# Format the dates as "DDMMYYYY"
dates1 = dist2.dt.strftime('%Y-%m-%d').tolist()
print(dates1)
print(len(dates1))

['2024-01-04', '2024-01-04', '2024-01-08', '2024-01-09', '2024-01-09', '2024-01-10', '2024-01-16', '2024-01-17', '2024-01-17', '2024-01-17', '2024-01-17', '2024-01-19', '2024-01-20', '2024-01-24', '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01', '2024-02-05', '2024-02-05', '2024-02-05', '2024-02-05', '2024-02-06', '2024-02-06', '2024-02-06', '2024-02-06', '2024-02-07', '2024-02-12', '2024-02-12', '2024-02-12', '2024-02-12', '2024-02-13', '2024-02-13', '2024-02-14', '2024-02-19', '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-23', '2024-02-26', '2024-02-26', '2024-02-27', '2024-02-27', '2024-02-28', '2024-02-28', '2024-02-28', '2024-02-28', '2024-03-01', '2024-03-05', '2024-03-05', '2024-03-06', '2024-03-06', '2024-03-06', '2024-03-06', '2024-03-06', '2024-03-07', '2024-03-12', '2024-03-12', '2024-03-12', '2024-03-12', '2024-03-12', '2024-03-12', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-14', '2024-03-19', '2024-03-19', '2024-03-22', '2024-03-26', '2024-03-27', '2024-03-27', '2024-03-27', '2024-03-27', '2024-03-27', '2024-03-27', '2024-03-27', '2024-03-27', '2024-03-27', '2024-03-28', '2024-03-28', '2024-04-08', '2024-04-09', '2024-04-10', '2024-04-15', '2024-04-16', '2024-04-16', '2024-04-16', '2024-05-02', '2024-05-02', '2024-05-03', '2024-05-07', '2024-05-07', '2024-05-07', '2024-05-07', '2024-05-07', '2024-05-07', '2024-05-07', '2024-05-07', '2024-05-08', '2024-05-09', '2024-05-09', '2024-05-10', '2024-05-13', '2024-05-13', '2024-05-22', '2024-05-22', '2024-05-24', '2024-05-27', '2024-05-28', '2024-05-28', '2024-05-28', '2024-05-30', '2024-05-31', '2024-06-03', '2024-06-04', '2024-06-04', '2024-06-21', '2024-06-26', '2024-06-26', '2024-06-26', '2024-06-27', '2024-07-01', '2024-07-02', '2024-07-04', '2024-07-09', '2024-07-09', '2024-07-10', '2024-07-15', '2024-07-15', '2024-07-16', '2024-07-18', '2024-07-19', '2024-07-19', '2024-07-19', '2024-07-19', '2024-07-19', '2024-07-19', '2024-07-23', '2024-08-01', '2024-08-02', '2024-08-02', '2024-08-02', '2024-08-05', '2024-08-06', '2024-08-09', '2024-08-14', '2024-08-16', '2024-08-16', '2024-08-26']
204

In [25]:
lst=dates+dates1
dates=lst
print(len(dates))
print(dates)

460
['2023-01-04', '2023-01-04', '2023-01-05', '2023-01-06', '2023-01-06', '2023-01-06', '2023-01-09', '2023-01-09', '2023-01-11', '2023-01-13', '2023-01-16', '2023-01-17', '2023-01-18', '2023-01-18', '2023-01-18', '2023-01-19', '2023-01-20', '2023-01-20', '2023-01-20', '2023-01-20', '2023-01-24', '2023-01-25', '2023-01-25', '2023-01-25', '2023-01-27', '2023-01-27', '2023-01-27', '2023-01-27', '2023-01-27', '2023-01-27', '2023-01-27', '2023-01-27', '2023-01-30', '2023-01-30', '2023-02-02', '2023-02-06', '2023-02-14', '2023-02-15', '2023-02-15', '2023-02-15', '2023-02-16', '2023-02-16', '2023-02-17', '2023-02-17', '2023-02-20', '2023-02-20', '2023-02-22', '2023-02-22', '2023-02-22', '2023-02-22', '2023-02-22', '2023-02-22', '2023-02-23', '2023-02-23', '2023-02-23', '2023-02-23', '2023-02-23', '2023-02-23', '2023-02-24', '2023-02-24', '2023-02-27', '2023-02-27', '2023-02-27', '2023-02-28', '2023-02-28', '2023-02-28', '2023-02-28', '2023-03-02', '2023-03-06', '2023-03-10', '2023-03-13', '2023-03-13', '2023-03-13', '2023-03-14', '2023-03-14', '2023-03-14', '2023-03-14', '2023-03-14', '2023-03-14', '2023-03-15', '2023-03-15', '2023-03-15', '2023-03-15', '2023-03-20', '2023-03-21', '2023-03-21', '2023-03-23', '2023-03-23', '2023-03-23', '2023-03-24', '2023-03-24', '2023-03-24', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-27', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-03-28', '2023-04-17', '2023-04-20', '2023-05-04', '2023-05-10', '2023-05-11', '2023-05-15', '2023-05-18', '2023-05-19', '2023-05-22', '2023-05-24', '2023-05-24', '2023-05-25', '2023-05-29', '2023-05-30', '2023-05-31', '2023-06-09', '2023-06-09', '2023-06-16', '2023-06-19', '2023-06-21', '2023-06-23', '2023-06-23', '2023-06-26', '2023-06-27', '2023-06-27', '2023-06-30', '2023-06-30', '2023-07-03', '2023-07-10', '2023-07-10', '2023-07-11', '2023-07-11', '2023-07-11', '2023-07-11', '2023-07-13', '2023-07-13', '2023-07-17', '2023-07-18', '2023-07-21', '2023-07-21', '2023-07-24', '2023-07-25', '2023-08-25', '2023-08-29', '2023-08-31', '2023-09-05', '2023-09-06', '2023-09-06', '2023-09-12', '2023-09-20', '2023-09-21', '2023-09-21', '2023-09-21', '2023-09-25', '2023-09-25', '2023-09-25', '2023-09-28', '2023-09-29', '2023-10-03', '2023-10-03', '2023-10-04', '2023-10-05', '2023-10-09', '2023-10-09', '2023-10-10', '2023-10-11', '2023-10-11', '2023-10-13', '2023-10-16', '2023-10-18', '2023-10-20', '2023-10-23', '2023-10-23', '2023-10-25', '2023-10-25', '2023-10-25', '2023-10-25', '2023-10-25', '2023-10-26', '2023-10-26', '2023-11-01', '2023-11-01', '2023-11-02', '2023-11-07', '2023-11-10', '2023-11-16', '2023-11-16', '2023-11-20', '2023-11-20', '2023-11-22', '2023-11-24', '2023-11-28', '2023-11-29', '2023-12-01', '2023-12-05', '2023-12-06', '2023-12-06', '2023-12-07', '2023-12-07', '2023-12-07', '2023-12-08', '2023-12-11', '2023-12-11', '2023-12-11', '2023-12-11', '2023-12-13', '2023-12-14', '2023-12-15', '2023-12-15', '2023-12-18', '2023-12-18', '2023-12-19', '2023-12-28', '2023-12-29', '2023-12-29', '2023-08-01', '2023-08-02', '2023-08-09', '2023-08-11', '2023-08-14', '2023-08-14', '2023-08-16', '2023-08-18', '2023-08-23', '2024-01-04', '2024-01-04', '2024-01-08', '2024-01-09', '2024-01-09', '2024-01-10', '2024-01-16', '2024-01-17', '2024-01-17', '2024-01-17', '2024-01-17', '2024-01-19', '2024-01-20', '2024-01-24', '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01', '2024-02-05', '2024-02-05', '2024-02-05', '2024-02-05', '2024-02-06', '2024-02-06', '2024-02-06', '2024-02-06', '2024-02-07', '2024-02-12', '2024-02-12', '2024-02-12', '2024-02-12', '2024-02-13', '2024-02-13', '2024-02-14', '2024-02-19', '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-23', '2024-02-26', '2024-02-26', '2024-02-27', '2024-02-27', '2024-02-28', '2024-02-28', '2024-02-28', '2024-02-28', '2024-03-01', '2024-03-05', '2024-03-05', '2024-03-06', '2024-03-06', '2024-03-06', '2024-03-06', '2024-03-06', '2024-03-07', '2024-03-12', '2024-03-12', '2024-03-12', '2024-03-12', '2024-03-12', '2024-03-12', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-13', '2024-03-14', '2024-03-19', '2024-03-19', '2024-03-22', '2024-03-26', '2024-03-27', '2024-03-27', '2024-03-27', '2024-03-27', '2024-03-27', '2024-03-27', '2024-03-27', '2024-03-27', '2024-03-27', '2024-03-28', '2024-03-28', '2024-04-08', '2024-04-09', '2024-04-10', '2024-04-15', '2024-04-16', '2024-04-16', '2024-04-16', '2024-05-02', '2024-05-02', '2024-05-03', '2024-05-07', '2024-05-07', '2024-05-07', '2024-05-07', '2024-05-07', '2024-05-07', '2024-05-07', '2024-05-07', '2024-05-08', '2024-05-09', '2024-05-09', '2024-05-10', '2024-05-13', '2024-05-13', '2024-05-22', '2024-05-22', '2024-05-24', '2024-05-27', '2024-05-28', '2024-05-28', '2024-05-28', '2024-05-30', '2024-05-31', '2024-06-03', '2024-06-04', '2024-06-04', '2024-06-21', '2024-06-26', '2024-06-26', '2024-06-26', '2024-06-27', '2024-07-01', '2024-07-02', '2024-07-04', '2024-07-09', '2024-07-09', '2024-07-10', '2024-07-15', '2024-07-15', '2024-07-16', '2024-07-18', '2024-07-19', '2024-07-19', '2024-07-19', '2024-07-19', '2024-07-19', '2024-07-19', '2024-07-23', '2024-08-01', '2024-08-02', '2024-08-02', '2024-08-02', '2024-08-05', '2024-08-06', '2024-08-09', '2024-08-14', '2024-08-16', '2024-08-16', '2024-08-26']

In [26]:
concat_df = pd.concat([df, df2], axis=0)
df=concat_df

In [27]:
df.reset_index(drop=True, inplace=True)

In [28]:
concat_df = pd.concat([data, data2], axis=0)
data=concat_df

In [29]:
data.reset_index(drop=True, inplace=True)

In [163]:
# #enter
# i=0
# j=dates2.index(dates[i])
# df['entry_date']='0000-00-00'
# df.at[i,'entry_date']=dates2[j+1]

In [30]:
df['entry_date']='0000-00-00'
df['entry_price']=0
df['stoploss']=0
df['target']=0
df['exit_date']=" "
df['exit_price']=0
df['status']=" "
df['Profit/Loss']=0
for i in range(0,len(dates)):
    j=dates2.index(dates[i])
    df.at[i,'entry_date']=dates2[j+1]
    dat=pd.to_datetime(dates2[j+1], format='%Y-%m-%d')
    sym=df["SYMBOL"][i]
    filtered_df=data[(data['SYMBOL'] == sym) & (data["DATE1"]==dat)]
    if not filtered_df.empty:
        open_price = filtered_df["OPEN_PRICE"].values[0]
        df.at[i,'entry_price']=open_price
    df.at[i,'stoploss']=df["HIGH_PRICE"][i]
    df.at[i,'target']=df["entry_price"][i]-((df["entry_price"][i])*0.1)

    k=j+1
    new_df=data[(data['SYMBOL'] == sym)]
    while(k<len(dates2)):
        date=pd.to_datetime(dates2[k], format='%Y-%m-%d')
        filtered_df=new_df[new_df["DATE1"]==date]
        if not filtered_df.empty:
            if (k!=j+1 and (filtered_df["LOW_PRICE"].min()<=df['target'][i] or filtered_df["HIGH_PRICE"].max()<=df['target'][i])):
                df.at[i,'exit_date']=dates2[k]
                df.at[i,'exit_price']=df['target'][i]
                df.at[i,'status']='target'
                df.at[i,'Profit/Loss']=df["entry_price"][i]-df["exit_price"][i]
                break
            if filtered_df["CLOSE_PRICE"].max()>=df['stoploss'][i]:
                df.at[i,'exit_date']=dates2[k]
                df.at[i,'exit_price']=filtered_df["CLOSE_PRICE"].max()
                df.at[i,'status']='stoploss'
                df.at[i,'Profit/Loss']=df["entry_price"][i]-df["exit_price"][i]
                break
        k=k+1

/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_98235/1677816932.py:17: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4361.55' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'entry_price']=open_price
/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_98235/1677816932.py:18: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4421.65' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'stoploss']=df["HIGH_PRICE"][i]
/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_98235/1677816932.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3925.395' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'target']=df["entry_price"][i]-((df["entry_price"][i])*0.1)
/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_98235/1677816932.py:29: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3925.395' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'exit_price']=df['target'][i]
/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_98235/1677816932.py:31: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '436.1550000000002' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'Profit/Loss']=df["entry_price"][i]-df["exit_price"][i]

In [20]:
print(k)

245

In [31]:
df.tail()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,...,Prev day del<Today Del,sum,entry_date,entry_price,stoploss,target,exit_date,exit_price,status,Profit/Loss
455,SONATSOFTW,EQ,2024-08-09,618.30,626.20,632.95,596.05,600.00,601.60,611.55,...,1,7,2024-08-12,600.75,632.95,540.675,,0.00,,0.00
456,GPIL,EQ,2024-08-14,1011.80,1016.90,1029.00,961.60,964.00,966.65,984.91,...,1,7,2024-08-16,970.00,1029.00,873.000,,0.00,,0.00
457,MAGNUM,EQ,2024-08-16,50.05,51.32,51.49,48.98,49.99,49.56,49.54,...,1,7,2024-08-19,51.50,51.49,46.350,2024-08-27,46.35,target,5.15
458,SANDUMA,EQ,2024-08-16,507.65,516.90,522.00,486.95,488.00,488.60,495.25,...,1,7,2024-08-19,493.40,522.00,444.060,,0.00,,0.00
459,BALKRISHNA,EQ,2024-08-26,23.81,24.25,24.25,22.30,22.89,22.90,23.31,...,1,7,2024-08-27,23.01,24.25,20.709,,0.00,,0.00

In [32]:
df.to_csv('backtesting_sell.csv', index=False)

In [166]:
dat=pd.to_datetime(dates2[j+1], format='%Y-%m-%d')
print(dat)

2023-01-05 00:00:00

In [167]:
#calc and store stoploss target etc
df['entry_price']=0
df['stoploss']=0
df['target']=0

In [168]:
sym=df["SYMBOL"][i]
print(sym)

PFIZER

In [169]:
sym=df["SYMBOL"][i]
filtered_df=data[(data['SYMBOL'] == sym) & (data["DATE1"]==dat)]
if not filtered_df.empty:
    open_price = filtered_df["OPEN_PRICE"].values[0]
    df.at[i,'entry_price']=open_price
df.at[i,'stoploss']=df["HIGH_PRICE"][i]
df.at[i,'target']=df["entry_price"][i]-((df["entry_price"][i])*0.1)

/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_38067/4220766389.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4361.55' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'entry_price']=open_price
/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_38067/4220766389.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '4421.65' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'stoploss']=df["HIGH_PRICE"][i]
/var/folders/vj/lr0smv8s7cjfn1_wjtdkj1c80000gn/T/ipykernel_38067/4220766389.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3925.395' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i,'target']=df["entry_price"][i]-((df["entry_price"][i])*0.1)

In [170]:
df.head()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,...,Prev Day Vol< Today Vol,Prev day del<Today Del,sum,entry_date,entry_price,stoploss,target,exit_date,exit_price,status
0,PFIZER,EQ,2023-01-04,4393.45,4421.60,4421.65,4350.0,4350.05,4361.55,4379.84,...,1,1,7,2023-01-05,4361.55,4421.65,3925.395,2023-01-09,3925.395,target
1,RAJMET,EQ,2023-01-04,25.30,25.50,25.85,20.3,21.00,20.50,21.14,...,1,1,7,0000-00-00,0.00,0.00,0.000,2023-01-09,0.000,target
2,SANOFI,EQ,2023-01-05,5766.65,5780.00,5789.95,5700.0,5730.15,5713.80,5712.85,...,1,1,7,0000-00-00,0.00,0.00,0.000,2023-01-09,0.000,target
3,DHARMAJ,EQ,2023-01-06,201.05,201.85,201.85,190.1,191.50,191.25,194.41,...,1,1,7,0000-00-00,0.00,0.00,0.000,2023-01-09,0.000,target
4,RUSHIL,EQ,2023-01-06,413.70,419.90,419.90,399.5,405.25,404.40,404.47,...,1,1,7,0000-00-00,0.00,0.00,0.000,2023-01-09,0.000,target

In [171]:
print(dates2[j+1])

2023-01-05

In [157]:
df['exit_date']=" "
df['exit_price']=0
df['status']=" "

In [175]:
dates2[j]

'2023-01-04'

In [184]:
filtered_df=data[(data['SYMBOL'] == sym)]
filtered_df.head()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
336538,PFIZER,EQ,2023-01-02,4431.70,4436.00,4438.95,4401.0,4401.00,4406.95,4414.87,3311,146.18,1253,1676,50.62
336539,PFIZER,EQ,2023-01-03,4406.95,4425.00,4430.10,4387.0,4401.50,4393.45,4410.31,4820,212.58,1749,1633,33.88
336540,PFIZER,EQ,2023-01-04,4393.45,4421.60,4421.65,4350.0,4350.05,4361.55,4379.84,6052,265.07,1370,3483,57.55
336541,PFIZER,EQ,2023-01-05,4361.55,4361.55,4383.95,4351.0,4372.00,4370.95,4369.15,2496,109.05,736,1638,65.63
336542,PFIZER,EQ,2023-01-06,4370.95,4363.15,4368.00,4321.0,4324.00,4331.70,4343.94,2404,104.43,778,1200,49.92

In [191]:
dat=pd.to_datetime(dates2[j+1], format='%Y-%m-%d')
print(dat)

2023-01-05 00:00:00

In [195]:
dat=pd.to_datetime(dates2[j+1], format='%Y-%m-%d')
filtered_df=data[(data['SYMBOL'] == sym)]
filtered_df=filtered_df[filtered_df["DATE1"]==dat]
# print(filtered_df)

        SYMBOL SERIES      DATE1  PREV_CLOSE  OPEN_PRICE  HIGH_PRICE  \
336541  PFIZER     EQ 2023-01-05     4361.55     4361.55     4383.95

        LOW_PRICE  LAST_PRICE  CLOSE_PRICE  AVG_PRICE  TTL_TRD_QNTY  \
336541     4351.0      4372.0      4370.95    4369.15          2496

        TURNOVER_LACS  NO_OF_TRADES DELIV_QTY DELIV_PER
336541         109.05           736      1638     65.63

In [202]:
flag=False
k=j+1
new_df=data[(data['SYMBOL'] == sym)]
while(True):
    dat=pd.to_datetime(dates2[k], format='%Y-%m-%d')
    filtered_df=new_df[new_df["DATE1"]==dat]
    if not filtered_df.empty:
        if  (filtered_df["LOW_PRICE"].min()<=df['target'][i] or filtered_df["HIGH_PRICE"].max()<=df['target'][i]):
            df['exit_date']=dates2[k]
            df['exit_price']=df['target']
            df['status']='target'
            break
        if filtered_df["CLOSE_PRICE"].max()>=df['stoploss'][i]:
            df['exit_date']=dates2[k]
            df['exit_price']=data["CLOSE_PRICE"][j]
            df['status']='stoploss'
            break
    k=k+1
    # flag=True

In [199]:
for o in range(3):
    dat=pd.to_datetime(dates2[o], format='%Y-%m-%d')
    filtered_df=new_df[new_df["DATE1"]==dat]
    print(filtered_df)

        SYMBOL SERIES      DATE1  PREV_CLOSE  OPEN_PRICE  HIGH_PRICE  \
336538  PFIZER     EQ 2023-01-02      4431.7      4436.0     4438.95

        LOW_PRICE  LAST_PRICE  CLOSE_PRICE  AVG_PRICE  TTL_TRD_QNTY  \
336538     4401.0      4401.0      4406.95    4414.87          3311

        TURNOVER_LACS  NO_OF_TRADES DELIV_QTY DELIV_PER
336538         146.18          1253      1676     50.62
        SYMBOL SERIES      DATE1  PREV_CLOSE  OPEN_PRICE  HIGH_PRICE  \
336539  PFIZER     EQ 2023-01-03     4406.95      4425.0      4430.1

        LOW_PRICE  LAST_PRICE  CLOSE_PRICE  AVG_PRICE  TTL_TRD_QNTY  \
336539     4387.0      4401.5      4393.45    4410.31          4820

        TURNOVER_LACS  NO_OF_TRADES DELIV_QTY DELIV_PER
336539         212.58          1749      1633     33.88
        SYMBOL SERIES      DATE1  PREV_CLOSE  OPEN_PRICE  HIGH_PRICE  \
336540  PFIZER     EQ 2023-01-04     4393.45      4421.6     4421.65

        LOW_PRICE  LAST_PRICE  CLOSE_PRICE  AVG_PRICE  TTL_TRD_QNTY  \
336540     4350.0     4350.05      4361.55    4379.84          6052

        TURNOVER_LACS  NO_OF_TRADES DELIV_QTY DELIV_PER
336540         265.07          1370      3483     57.55

In [203]:
df.head()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,...,Prev Day Vol< Today Vol,Prev day del<Today Del,sum,entry_date,entry_price,stoploss,target,exit_date,exit_price,status
0,PFIZER,EQ,2023-01-04,4393.45,4421.60,4421.65,4350.0,4350.05,4361.55,4379.84,...,1,1,7,2023-01-05,4361.55,4421.65,3925.395,2023-01-31,3925.395,target
1,RAJMET,EQ,2023-01-04,25.30,25.50,25.85,20.3,21.00,20.50,21.14,...,1,1,7,0000-00-00,0.00,0.00,0.000,2023-01-31,0.000,target
2,SANOFI,EQ,2023-01-05,5766.65,5780.00,5789.95,5700.0,5730.15,5713.80,5712.85,...,1,1,7,0000-00-00,0.00,0.00,0.000,2023-01-31,0.000,target
3,DHARMAJ,EQ,2023-01-06,201.05,201.85,201.85,190.1,191.50,191.25,194.41,...,1,1,7,0000-00-00,0.00,0.00,0.000,2023-01-31,0.000,target
4,RUSHIL,EQ,2023-01-06,413.70,419.90,419.90,399.5,405.25,404.40,404.47,...,1,1,7,0000-00-00,0.00,0.00,0.000,2023-01-31,0.000,target